@import '~@getflywheel/local-components/src/styles/_partials/index';

.SiteInfoToolsSection {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.SiteInfoToolsSection_Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.SiteInfoToolsSection_ProviderHeader {
	display: grid;
	grid-template-columns: [icon] 50px [provider-name] auto [action-button] 136px;
	justify-items: left;
	align-items: center;
	padding: 30px 0;
}

.SiteInfoToolsSection_Content {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	// todo - crum: create theme mixin for this pattern (as it's used in flywheel-local, as well)
	// @include __theme-background($gray1, $gray-dark);
	@include __theme-background($gray1 !important, $gray-dark-alt !important);
}

.SiteInfoToolsSection_EmptyArea {
	margin: 0;
}
