@import '~@getflywheel/local-components/src/styles/_partials/index';

.FlyModal {
	background-color: blue;
}

.AlignLeft {
	text-align: left !important;
	@include theme-color-gray-else-gray25;
}

.RestoreModalContents p {
	margin: 0;
}

.ModalButtons {
	display: flex;
	justify-content: space-between;
}

.NoPaddingLeft {
	padding-left: 0;
}
