.FlyModal {
	background-color: blue;
}

.AlignLeft {
	text-align: left !important;
	color: #5D5E5E;
}

.RestoreModalContents p {
	margin: 0;
}

.ModalButtons {
	display: flex;
	justify-content: space-between;
}

.NoPaddingLeft {
	padding-left: 0;
}
