@import '~@getflywheel/local-components/src/styles/_partials/index';

.AlignLeft {
	text-align: left !important;
	@include theme-color-gray-else-gray25;
}

.RestoreModalContents p {
	margin: 0;
}

.ModalButtons {
	display: flex;
	justify-content: space-between;
}

.NoPaddingLeft {
	padding-left: 0;
}

.CustomSpinnerStyles {
	display: inline-block !important;
}

.ErrorText {
	color: $red;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.ErrorIcon {
	margin-right: 10px;
}

.ErrorState {
	input {
		box-shadow: inset 0 0 0 2px $red !important;
	}
}

