@import '~@getflywheel/local-components/src/styles/_partials/index';

.ProviderDropdown_Cont {
	display: flex;
}

.ProviderDropdown {

	> svg {
		width: auto;
		height: 18px;
		margin-right: 5px;
	}

	&.ProviderDropdownOffline {
		> svg:not(.ProviderDropdown_Content_ProviderSvg) path {
			fill: $gray75;
		}
	}
}

.DropdownItemOffline {
	font-weight: 300;
	padding: 10px 15px !important;
}

.ProviderDropdown_List {
	> li {
		$paddingVert: 10px;

		&:last-child:not(:first-child) {
			margin-top: $paddingVert;
			padding-top: $paddingVert + 10px;
			@include theme-border-top;
		}
	}
}

.ProviderDropdown_Label {
	margin-right: 5px;
}

.ProviderDropdown_Item_TextButton {
	width: 100%;
	padding: 0;
	text-align: left;
}

.ProviderDropdown_Item_TextButton_Label {
	flex-grow: 1;
}

.ProviderDropdown_Item_TextButton__Deactivated .ProviderDropdown_Item_TextButton_Label {
	@include theme-color-graydark-else-white;
}

.ProviderDropdown_Item_TextButton_Value {
	margin-left: 10px;
}

.ProviderDropdown_Item_TextButton_CheckmarkSvg {
	margin: 0 !important;
}

.TextButtonExternal_Svg {
	margin-left: 10px !important;
}
