@import '~@getflywheel/local-components/src/styles/_partials/index';

$dateColWidth: 140px;
$moreColWidth: 60px;

.SnapshotsTableList_LoadingCont,
.SnapshotsTableList_EmptyCont {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	@include theme-color-gray-else-gray25;
}

.SnapshotsTableList_LoadingCont {
	// offset by diff between other 2 columns to effective center it within the row (hackish, but easier ways failed)
	margin-right: $dateColWidth - $moreColWidth;
}

.SnapshotsTableList_VirtualTable {
	:global(.VirtualTable_Row) {
		padding: 0 20px;
	}

	:global(.VirtualTable_Cell) {
		display: flex;
		align-items: center;
	}
}

.SnapshotsTableList_DateCell {
	display: flex;
	flex-direction: column;
	line-height: 21px;
}

.SnapshotsTableList_DateCell_WarningCont {
	display: flex;
	align-items: center;
	color: $red;
	font-weight: $font-weight-500-medium;

	svg {
		margin-right: 5px;

		path {
			fill: $red;
		}
	}
}

.SnapshotsTableList_DateCell_Spinner {
	font-weight: $font-weight-500-medium;

	svg {
		width: 11px;
		height: 13px;
		margin: 0 5px 0 0 !important;

		path {
			fill: $gray75;
		}
	}
}

.SnapshotsTableList_DateCell_MonDayYear {
	font-weight: $font-weight-500-medium;
}

.SnapshotsTableList_Column_Created {
	flex: 0 0 $dateColWidth;
}

.SnapshotsTableList_Column_Description {
	flex: 1 1 400px;
	min-width: 200px;
	margin-right: 20px;
}

.SnapshotsTableList_Column_More {
	flex: 0 0 $moreColWidth;
}

.SnapshotsTableList_MoreDropdown {
	display: block;
	margin-left: auto; // right-align
	margin-right: 20px;
	padding: 10px 0 10px;
}

.SnapshotsTableList_MoreDropdown_Item_TextButton {
	padding: 0;
}
