@import '~@getflywheel/local-components/src/styles/_partials/index';

.ToolsHeaders {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	@include theme-background-white-else-graydark;
}

.ToolsHeaders_Right {
	display: flex;
	flex-direction: row;
	gap: 0;

	@media screen and (min-width: 1030px) {
		gap: 10px;
	}
}

