.promoBanner {
	margin-top: 50px;
	border-radius: 4px;

	span {
		display: flex;
	}
}

.tooltip {
	width: 50%;
}

.radioBlock {
	div > label {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center;
	}
}

.extraPadding {
	padding-left: 15px;
	padding-right: 15px;
}
