@import '~@getflywheel/local-components/src/styles/_partials/index';

.innerContainer {
	width: 644px;
	align-self: center;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 50%;
	min-width: 590px;
	padding: 0 0 50px;
}

.headerPadding {
	padding-bottom: 12px;
}

.tooltip {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.errorText {
	color: $red;
	font-weight: 500;
}

.errorTextContainer {
	margin-top: 10px;
}

.errorState {
	box-shadow: inset 0 0 0 2px $red !important;
}
