@import '~@getflywheel/local-components/src/styles/_partials/index';

.innerContainer {
	width: 644px;
	align-self: center;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 50%;
	min-width: 590px;
	padding: 0 0 35px;
}

.headerPadding {
	padding-bottom: 12px;
}

.tooltip {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
